pickle
pairs
output
code_jnlp
__pycache__
checkpoint-13300
csvs
embeddings_output
evaluation 
data
experiments
files
final
prop_one
save_dir
ultralytics
output
models
data
*.csv
*.pkl

*.zip
model-training